<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}"><img src="/media/remedialslogo.png" width="50" height="50"></a>
    <a class="navbar-brand" href="{% url 'index'  %}">REMEDIALS</a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'story'  %}">Story</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'graphs'  %}">Graphs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contactus'  %}">Contact Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'aboutus'  %}">About Us</a>
            </li>
          </ul>

        </div>
    
    
</nav>