{% extends "layout.html" %}


{% block body %}

<h3>Graphs</h3>
<hr>

<p>
    <a>1)</a>
<img src="/media/table1.png" width="750" height="225">
    <br><br>
    <a>2)</a>
    <img src="/media/table2.png" width="750" height="225">
    <br><br>
    <a>3)</a>
    <img src="/media/covidgraph1.png" width="750" height="500">
    <br><br>
    <a>4)</a>
    <img src="/media/covidgraph2.png" width="750" height="500">
    <br><br>
    <a>5)</a>
    <img src="/media/covidgraph3.png" width="750" height="500">
    <br><br>
    <a>6)</a>
    <img src="/media/covidgraph4.png" width="750" height="500">
    <br><br>
    <a>7)</a>
    <img src="/media/covidgraph5.png" width="750" height="500">


</form>
</p>
{% endblock body %}
