{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
        <h3>Welcome To Remedials</h3>
        <p>You can see the canceled flights in 2020</p>
</div>


<p>
       <table style="width:100%">
  <tr>
    <th><u><h4>Date</h4></u></th>
    <th><u><h4 align="center">Country</h4></u></th>
      <th><u><h4 align="center">City</h4></u></th>
      <th><u><h4 align="center">Airport</h4></u></th>
    <th><u><h4 align="center">Flight Code</h4></u></th>
      <th></th>
  </tr>

  <tr>
    <td>18.10.20</td>
    <td align="center">TR</td>
    <td align="center">Istanbul</td>
      <td align="center">Istanbul Airport</td>
      <td align="center">TK15846</td>
  </tr>
  <tr>
    <td>12.10.20</td>
    <td align="center">GER</td>
    <td align="center">Berlin</td>
      <td align="center">Berlin Brandenburg Airport</td>
      <td align="center">BR19582</td>
  </tr>


<tr>
    <td>17.10.20</td>
    <td align="center">GER</td>
    <td align="center">Berlin</td>
      <td align="center">Berlin Brandenburg Airport</td>
      <td align="center">BR75689</td>
  </tr>

<tr>
    <td>21.07.20</td>
    <td align="center">PEK</td>
    <td align="center">Pekin</td>
      <td align="center">Beijing Capital International Airport</td>
      <td align="center">CH19568</td>
  </tr>

<tr>
    <td>17.03.20</td>
    <td align="center">CDG</td>
    <td align="center">France</td>
      <td align="center">Charles de Gaulle Airport</td>
      <td align="center">FA54261</td>
  </tr>


<tr>
    <td>17.06.20</td>
    <td align="center">FRA</td>
    <td align="center">Frankfurt</td>
      <td align="center">Frankfurt Airport</td>
      <td align="center">FR15879</td>
  </tr>

<tr>
    <td>29.04.20</td>
    <td align="center">USA</td>
    <td align="center">New York</td>
      <td align="center">John F. Kennedy International Airport</td>
      <td align="center">US89541</td>
  </tr>
  <tr>
    <td>18.10.20</td>
    <td align="center">USA</td>
    <td align="center">Los Angeles</td>
      <td align="center">Los Angeles International Airport</td>
      <td align="center">LA25698</td>
  </tr>

<tr>
    <td>21.05.20</td>
    <td align="center">ENG</td>
    <td align="center">London</td>
      <td align="center">London Heathrow Airport</td>
      <td align="center">LH65845</td>
  </tr>

<tr>
    <td>12.07.20</td>
    <td align="center">DUB</td>
    <td align="center">Garhoud</td>
      <td align="center">Dubai International Airport</td>
      <td align="center">DB49485</td>
  </tr>

<tr>
    <td>13.12.20</td>
    <td align="center">CHN</td>
    <td align="center">Shanghai</td>
      <td align="center">Shanghai Pudong International Airport</td>
      <td align="center">PV58303</td>
  </tr>

<tr>
    <td>04.09.20</td>
    <td align="center">FR</td>
    <td align="center">Paris</td>
      <td align="center">Charles de Gaulle Airport</td>
      <td align="center">CG32509</td>
  </tr>

<tr>
    <td>22.06.20</td>
    <td align="center">GER</td>
    <td align="center">Frankfurt</td>
      <td align="center">Frankfurt Airport</td>
      <td align="center">FR49340</td>
  </tr>

<tr>
    <td>13.09.20</td>
    <td align="center">IND</td>
    <td align="center">Delhi</td>
      <td align="center">Indira Gandhi International Airport</td>
      <td align="center">IN39483</td>
  </tr>

<tr>
    <td>21.04.20</td>
    <td align="center">SP</td>
    <td align="center">Madrid</td>
      <td align="center">Madrid Barajas Airport</td>
      <td align="center">MB23090</td>
  </tr>

<tr>
    <td>06.06.20</td>
    <td align="center">MLY</td>
    <td align="center">Selangor</td>
      <td align="center">Kuala Lumpur International Airport</td>
      <td align="center">KL83580</td>
  </tr>

<tr>
    <td>30.08.20</td>
    <td align="center">IND</td>
    <td align="center">Banten</td>
      <td align="center">Soekarno–Hatta International Airport</td>
      <td align="center">SH00433</td>
  </tr>

<tr>
    <td>22.08.20</td>
    <td align="center">USA</td>
    <td align="center">Washington</td>
      <td align="center">Seattle-Tacoma International Airport</td>
      <td align="center">ST65564</td>
  </tr>

<tr>
    <td>12.03.20</td>
    <td align="center">USA</td>
    <td align="center">Las Vegas</td>
      <td align="center">McCarran International Airport</td>
      <td align="center">LA84876</td>
  </tr>

<tr>
    <td>14.06.20</td>
    <td align="center">THA</td>
    <td align="center">Prakan</td>
      <td align="center">Suvarnabhumi Airport</td>
      <td align="center">SA49865</td>
  </tr>

<tr>
    <td>23.07.20</td>
    <td align="center">SKOR</td>
    <td align="center">Incheon</td>
      <td align="center"> Seoul Incheon International Airport</td>
      <td align="center">SI99856</td>
  </tr>

<tr>
    <td>11.04.20</td>
    <td align="center">SNG</td>
    <td align="center">Changi</td>
      <td align="center"> Singapore Changi Airport</td>
      <td align="center">SC44898</td>
  </tr>
<tr>
    <td>18.07.20</td>
    <td align="center">TR</td>
    <td align="center">Izmir</td>
      <td align="center">Izmir Adnan Menderes Airport</td>
      <td align="center">ST78516</td>
  </tr>

<tr>
    <td>05.10.20</td>
    <td align="center">US</td>
    <td align="center">Chicago</td>
      <td align="center"> O'Hare International Airport</td>
      <td align="center">HE21789</td>
  </tr>

<tr>
    <td>08.04.20</td>
    <td align="center">DE</td>
    <td align="center">Frankfurt</td>
      <td align="center">Frankfurt International Airport</td>
      <td align="center">TS45167</td>
  </tr>

<tr>
    <td>28.09.20</td>
    <td align="center">BR</td>
    <td align="center">Lago Sul</td>
      <td align="center">Brasilia International Airport</td>
      <td align="center">BE15783</td>
  </tr>

<tr>
    <td>12.04.20</td>
    <td align="center">FR</td>
    <td align="center">Paris</td>
      <td align="center">Charles De Gaulle Havalimani</td>
      <td align="center">CP15783</td>
  </tr>

<tr>
    <td>18.10.20</td>
    <td align="center">BG</td>
    <td align="center">Burgas</td>
      <td align="center">Burgas Airport</td>
      <td align="center">LB39395</td>
  </tr>

<tr>
    <td>03.08.20</td>
    <td align="center">TR</td>
    <td align="center">Izmir</td>
      <td align="center">Izmir Adnan Menderes Airport</td>
      <td align="center">AF98516</td>
  </tr>

<tr>
    <td>04.09.20</td>
    <td align="center">US</td>
    <td align="center">Chicago</td>
      <td align="center"> O'Hare International Airport</td>
      <td align="center">ST31789</td>
  </tr>

<tr>
    <td>08.11.20</td>
    <td align="center">DE</td>
    <td align="center">Frankfurt</td>
      <td align="center">Frankfurt International Airport</td>
      <td align="center">MT85167</td>
  </tr>

<tr>
    <td>28.10.20</td>
    <td align="center">BR</td>
    <td align="center">Lago Sul</td>
      <td align="center">Brasilia International Airport</td>
      <td align="center">HL65783</td>
  </tr>

<tr>
    <td>02.04.20</td>
    <td align="center">FR</td>
    <td align="center">Paris</td>
      <td align="center">Charles De Gaulle Havalimani</td>
      <td align="center">AS35783</td>
  </tr>

<tr>
    <td>18.12.20</td>
    <td align="center">BG</td>
    <td align="center">Burgas</td>
      <td align="center">Burgas Airport</td>
      <td align="center">YZ45698</td>
  </tr>


<tr>
    <td>05.07.20</td>
    <td align="center">TR</td>
    <td align="center">Izmir</td>
      <td align="center">Izmir Adnan Menderes Airport</td>
      <td align="center">RF18516</td>
  </tr>

<tr>
    <td>11.10.20</td>
    <td align="center">US</td>
    <td align="center">Chicago</td>
      <td align="center"> O'Hare International Airport</td>
      <td align="center">HE21789</td>
  </tr>

<tr>
    <td>08.04.20</td>
    <td align="center">DE</td>
    <td align="center">Frankfurt</td>
      <td align="center">Frankfurt International Airport</td>
      <td align="center">LK15167</td>
  </tr>






</table>

</p>
{% endblock body %}

